<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day5.TestNgXML">
      <methods>
      <include name = "TestA"/>
      <exclude name="TestZ"/>
      <include name = "TestS"/>
      </methods>
      </class>
      <class name="day5.TestNgPriority"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
